*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
js/
dist/
*.class
*.js.map
*.css.map
custom.min.js
dataTables-2.1.8.min.js
jquery-3.6.0.min.js
chart-4.4.9.js
scripts/sweetalert2.all.min.js
styles/sweetalert2.min.css
styles/jquery.dataTables.min.css
SSPT_Web.js


