@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter-VariableFont.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter-Italic.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

/*{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}*/
