@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

.formTextInput, .formTextMinInput{
    margin-top:3px;
    height: 30px;
    padding-left:5px;
    border:none;
//     border:1px solid rgb(252, 250, 250);
    border:1px solid lightsteelblue;
    border-radius:$input-radius;
//     outline-color:#031331;
    outline-color:midnightblue;
    outline-width:1px !important;
    background:rgba(white, 0.4);
}
.dark .formTextInput, .formTextMinInput{
    background:rgba($dark-widget-bg, 0.4);
    border:1px solid #1E1E1E !important;
    color:$dark-text-principal;
}


.formTextMinInput{
    width:55%;
    margin:0 0 6px 6px;
    border:1px solid rgb(252, 250, 250) !important;
}

.formTextMediumInput{
    @extend .formTextInput;
    width: 85% !important;
}

.login-page{
    @include wh(95vw,100vh);
    background: radial-gradient(circle, rgb(197, 235, 241) 30%, white);

//     background:red !important;

}

.loginDiv{
    width:300px;
    min-height:280px;
    position:absolute;
    height:calc(auto + 4px);
    background:rgba(0, 88, 139, 0.281);
    border:1px solid white;
    border-radius:$div-radius;
    top:calc(50% - 140px);
    left:calc(50% - 150px);
    box-shadow:0 0 34px rgba(6, 70, 107, 0.418);

    & h2{
        color:rgb(1, 51, 80);
        text-align: center;
    }

    & > form{
        @include flex-c;
        & > div{
            // margin:8% auto 0 auto;
            margin-left: 7%;
            margin-top: 5%;
            & > input{
                width:90% !important;
            }
        }

        .loginbutton-div{
            margin:20px auto;
        }

        .login_info{
            margin-bottom:22px;
            margin:auto;
        }

    }
}

.home-bold {
    font-weight:bold;
    font-size:14px;
    padding: 2px 0 0 8px;
}

.flex {
    display:flex;
}