@use 'abstracts/variables' as *;

:root {
    --sidemindiv: polygon(calc(100% - 10px) 0, 100% 10px, 100% 100%, 10px 100%, 0% calc(100% - 10px), 0 0);
    --secondaryBg: white;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.dash-container{
    overflow:auto;
    width:95vw;
    height:100%;
    background: radial-gradient(circle, rgb(203, 215, 226), white);
}

// rgb(30, 144, 255)
header {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
//     background:green;
}

#header-top{
    width: 100%;
    height: 50px;
    margin-top:10px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
//     background:blue;

    #notificationAlertDiv{
        position:relative;
        width: 230px;
        min-height: 140px;
        background:white;
        border-radius:10px;
        background:#e92427;
        box-shadow:0 0 18px 3px rgba(#212121, 0.3);
        display: flex;
        overflow: auto;

        &-content {
            width: 90%;
            height:90%;
//             background:red;
            margin:auto;
            display:flex;
            flex-direction: column;

            &-title{
                margin: 0 auto;
                font-weight: bold;
                padding-bottom:5px;
            }
//             hr {padding:7px 0}

            .p-content{
                padding: 6px 0;
                & > p {
                    font-size: 14px;
                    padding: 4px 0;
                }
            }

            & > button {margin:auto;}
        }
    }

    &-perfil-div {
//         position: absolute;
//         left:92%;
//         top:3%;
        margin-right:10px;
        width:40px;
        height:40px;
        border-radius: 50%;
    //     background:darkgray;
        background:gray;
        z-index:2;
        display: flex;
        border:none;

        & > h3 {
            text-align:center;
        }
    }

    #header-top-perfil-div:hover #user-perfil-options{
        display: flex;
        flex-direction:column;
        padding:5px;
        width: 200px;
        transition:0.8s;
        border-radius:8px;
        box-shadow:0 0 8px rgba(black, 0.5);

        & > button {
            width:110px;
            height:33px !important;
            border:none;
            gap: 10px;
            background:white;
        }
    }

}


#user-perfil-options {
    display:none;
    position:relative;
    right: 150%;
    top:99%;
    background:white;
    transition:0.8s;

    & > button {
        &:hover{
            background:lightgray !important;
            color:dodgerblue;
            border-radius:5px;
        }
    }
}

#header-bottom {
    width: 50%;
    height: 130px;
    background: var(--secondaryBg);
//     background: blue;
    display: flex;
    margin: auto auto 0 auto;
    justify-content: space-around;
    border-radius: 17px;
//         clip-path: var(--sidemindiv);

    #afiliatesInfo{
        // background: red !important;

        &-divs{
            width: 100%;
            // background:purple;
            margin:30px auto;
            display: flex;
            justify-content: space-around;

            & > div{

                :is(#active-Status, #allUsers-Status, #suspended-Status){
                    width:18px;height:18px;border-radius:50%;
                }

                #active-Status{
                    background:rgb(10, 224, 3)
                }

                #allUsers-Status{
                    background:darkblue;
//                         background:red;
                }

                #suspended-Status{
                    background:red;
                }

                p{
                    text-align: center;
                    padding-top:5px;
                    font-weight: bold;
                    color:rgb(127, 141, 145);
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
        }
    }

    & > div {
        width: 33%;
        // background:green;
        margin: 5px;
        padding: 10px;

        & h3 {
            /* color:red; */
            margin-top: -2px;
        }
    }
}


#afiliatesInfo > div {
    display: flex;
    justify-content: space-between;
    /* background-color:blue; */
    /* height: 38px; */
    /* margin-top: -18px */

    & > p:last-child {
        text-align: right;
    }

}

:is(#expensesInfo, #profits) {
    border-left: 2px solid rgb(187, 187, 187);
}


.dash-container main {
    width: 100%;
    display: flex;
    margin-top:2%;
    overflow-y: auto !important;

    #divCharts {
        width: 100%;
        height: 750px;
        display: flex;

        & > div {
            width: 49%;
            height: 720px;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin: 10px;
        
            & > div {
                height: 50%;
                background: rgba(255,255,255,0.7);
                border-radius:14px;

                & > p{
                    color:red;
                    font-weight:bold;
                    color:lightslategrey;
                    padding:10px 0 0 10px;
                }
            }
        }
    }

    #topUsers{
        width:98%;
        max-height: 98%;
    }

}




/* #chart1{
    height:50%;
    background:yellow
} */

// dash media queries
@media (max-width: 768px) {
    .container {
      padding: 15px;
    }
}
  
@media (max-width: 480px) {
    header > div{
       width: 85%;
       & h3{
        font-size:medium
       }
       & p{
        font-size: small
       }

       .afStatus-indicator{
        width:10px !important;
        height:10px !important;
       }

    }

    
    main {
        #divCharts {
            height: 750px;
            margin-bottom:80px;
            display: flex;
            flex-direction: column;

            & > div {
                width: 90%;
                
                & > div {
                    height: 50%;
                }
            }
        }
    }    

}
