@use 'abstracts/variables' as *;
@use 'abstracts' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.dash-container{
    overflow:auto;
    width:95.5vw;
//     width:100vw;
    height:100%;
    background: radial-gradient(circle, rgb(203, 215, 226), white);
    @include respond-to(small){
        width:100vw;
    }
}

.dark .dash-container{
    background: $dark-bg-principal;
}

// rgb(30, 144, 255)
header {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
//     background:green;
}

#header-top{
    width: 100%;
    height: 50px;
    margin-top:10px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
//     background:blue;

    #closeNotificationAlertButton{
        position:relative;
        z-index:2;
        width:20px;
        height:20px;
        left:21%;
        background:gray;
        top:-1.5%;
        border:none;
        border-radius:50%;
        color:white;
    }

    .notificationContainer{
//         width: 230px;
//         background:red;
        display: flex;
        justify-content: flex-end;
        &-indicator{
            width:40px;
            height:40px;
            border-radius:50%;
            background:white;
            border:none;
            box-shadow:0 0 18px 2px rgba(black, 0.3)
        }
    }
    #notificationAlertDiv{
        position:relative;
        width: 230px;
        top: 90%;
        left:15%;
        min-height: 140px;
        background:white;
        border-radius:10px;
        box-shadow:0 0 18px 3px rgba(#212121, 0.3);
        display: flex;
        overflow: auto;

        &-content {
            width: 90%;
            height:90%;
//             background:red;
            margin:auto;
            display:flex;
            flex-direction: column;

            &-title{
                margin: 0 auto;
                font-weight: 500;
                padding-bottom:5px;
            }
//             hr {padding:7px 0}
            .p-content{
                padding: 6px 0;
                & > p {
                    font-size: 14px;
                    padding: 4px 0;
                }
            }

            & > button {margin:auto;}
        }
    }

    &-perfil-div {
        margin-right:10px;
        width:40px;
        height:40px;
        border-radius: 50%;
        margin-right:4%;
        background:gray;
        z-index:2;
        display: flex;
        border:none;
        display: flex;
        flex-direction:column;
//         background: green;
        & > h3 {
            margin:auto !important;
            transition: all 0.8s;
        }
        &-btn{
           width:40px;height:40px;margin-top:7%;
           background:transparent;
           border:none;
           font-size:16px !important;
        }

        @include respond-to(small) {
            margin-right:3%;
        }

    }

}


.user-perfil-options, .options-div {
    display: flex;
    box-shadow: 0 0 17px red;
    background:aliceblue;
    position:relative;
    flex-direction:column;
    padding:5px;
    width: 130px;
    transition:0.8s;
    border-radius:8px;
    box-shadow:0 0 8px rgba(black, 0.5);
    gap: 2px;

    @include respond-to(small) {
        right:206%;
    }

    #userNameLabel{
        padding-bottom:8px;
    }

    & > button {
        padding: 6px 0;
        border:none;
        background: lightslategrey;
        color: white;
        border-radius:5px;
        &:hover{
            background:dodgerblue;
            color:white;
        }
    }
}
.options-div{
     &-child{
        display: flex;
        flex-direction:column;
        gap:7px;
        & div {
            &:hover{
                background: dodgerblue;
                color: white;
            }
            border-radius:8px;
            padding:5px;
            & p{
                text-align: start;
                font-size: 13px;
            }
            .optinsDivItemTitle{ font-weight:400;}
            .optinsDivItemText{font-weight:300;}
        }
     }
}

#home-user-perfil{
    right: 100%;
    top: 100%;
}

#sidebar-user-perfil{
    left:100%;
}

#themeModeOptions{
    left: -620%;
    top: -55%;
    width:200px;
}

#themeModeOptions-sidebar{
    left:360%;
    top: -18%;
    width:200px;
    color:black;
}

#header-bottom {
    width: 50%;
    height: 130px;
    background: white;
//     background: blue;
    display: flex;
    margin: auto;
    justify-content: space-around;
    border-radius: 17px;
    @include respond-to(small) {
        width: 80%;
        height: 180px;
//         margin-right: 7%;
    }

//         clip-path: var(--sidemindiv);
    #afiliatesInfo{
//         background: red !important;
        &-divs{
            width: 100%;
//             background:purple;
            margin:30px auto;
            display: flex;
            justify-content: space-around;

            & > div{

                :is(#active-Status, #allUsers-Status, #suspended-Status){
                    width:18px;height:18px;border-radius:50%;
                }
                #active-Status{background:rgb(10, 224, 3)}
                #allUsers-Status{background:darkblue;}
                #suspended-Status{background:red;}

                p{
                    text-align: center;
                    padding-top:5px;
                    font-weight: bold;
                    color:rgb(127, 141, 145);
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
        }
    }

    & > div {
        width: 33%;
//         background:green;
        margin: 5px;
        padding: 10px;
        @include respond-to(small) {
            padding:0;
        }

        & h3 {
            margin-top: -2px;
            font-size: clamp(0.95rem, 1rem, 1.10rem)
        }

    }
}

.dark #header-bottom {
    background: $dark-widget-bg;
    color: lightgray;
}

#afiliatesInfo > div {
    display: flex;
    justify-content: space-between;
    & > p:last-child {
        text-align: right;
    }
}

:is(#expensesInfo, #profits) {
    border-left: 2px solid rgb(187, 187, 187);
}

.dash-container main {
    width: 100%;
    display: flex;
    margin-top:2%;
    overflow-y: auto !important;
//     background:red;
    @include respond-to(small) {
        width:97%;
        flex-direction:column;
        margin-left:2%;
    }

    #divCharts {
        width: 100%;
        height: 750px;
        display: flex;
        @include respond-to(small) {
//             width:90%;
            flex-direction:column;
                gap:6%;
        }

        & > div {
            width: 89%;
            height: 720px;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 4%;
            margin: 10px;
//             background:green;
            @include respond-to(small) {
                width:95%;
//                 margin:0;
                margin-left:2.5%;
                gap:9%;
            }

            & > div {
                height: 50%;
                background: rgba(255,255,255,0.4);
//                 background:tomato;
                border-radius:14px;

                & > p{
                    color:red;
                    font-weight:bold;
                    color:lightslategrey;
                    padding:10px 0 0 10px;
                }
            }
            .dark & > div{
                background: rgba($dark-widget-bg, 0.3);
                color: red;
            }
        }
    }

    #topUsers{
        width:78%;
        max-height: 78%;
//         background:red;
        margin:auto;
        margin-top:4% !important;
    }
}
// .dark .dash-container main{
//     #divCharts{
//         & > div > div{
//             background:$dark-width-bg;
//         }
//     }
// }