@use '../abstracts/variables' as *;

@mixin respond-to($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: 600px) { @content; }
  }
  @else if $breakpoint == medium {
    @media (max-width: 900px) { @content; }
  }
  @else if $breakpoint == large {
    @media (max-width: 1200px) { @content; }
  }
}

@mixin btn-hover{
    color:$btn-color-hover;
    background-color:$btn-bg-hover;
}

@mixin wh($w, $h){
    width: $w;
    height: $h;
}

@mixin w($w){
    width: $w;
}

@mixin h($h){
    height: $h;
}

@mixin flex-c(){
    display: flex;
    flex-direction: column;
}