.tooltip{position: relative;display:inline-block;}
.tooltip .tooltiptext {
    visibility: hidden;
    /* width: 130px; */
    background-color:rgb(95, 95, 95);
    color:rgb(247, 249, 250);
    text-align: center;
    padding: 5px 10px;
    position: absolute;
    bottom: 0.01em;
    left:140%;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border-radius: 7px;
}



.tooltip .tooltiptext::after{
    content: "";position: absolute;
    top:33%;right: 100%;
    margin-left: -8px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0,0,0,.6) transparent transparent transparent;
    transform: rotate(90deg)
}

.tooltip:hover .tooltiptext{visibility: visible;opacity: 1;}